.body{
    width: 100vw;
    height: 100vh;
    background-color: #eb6664;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    gap: 10px;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#iconsymbol{
    font-size: 40px;
}